.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url('./images/pexels-photo-2531709.webp');
  background-size: cover;
  font-weight: bold;
}

.input-containe {
  margin-bottom: 20px;
}

.info-container {
  display: flex;
}

.other-info {
  display: flex;
  justify-content: space-around;
}

.today-weather-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  max-width: 700px;
  height: 200px;
  justify-content: center;
  align-items: center;

  border: 1px black solid;
}

.other-info-container {
  border: 1px black solid;
  width: 500px;
  max-width: 700px;
  height: 200px;
}


@media screen and (max-width: 567px) {
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
  }

  .mob-con {
    width: 80vw;
  }
}